.container{
    margin: 20px;
    .container2{
        display: flex;
        justify-content: space-between;
        .container3{
            flex: 1 1 20%;
           border-radius: "4px";
           
           .listaItem{
            margin: "10px 0";
            border-radius: 2px;
           }
        }
    }
}
.container4{
    flex: 1 1 100%;
    margin-left: 15px;
    .calendario{
        height: 75vh;
    }
}

.modalbox {
    width: 80%;
    max-width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px;
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición de transformación y sombra */
  }
  
  /* Estilos al pasar el mouse sobre la modalbox */
  .modalbox:hover {
    transform: translateY(-4px); /* Efecto de elevación */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  }

  .text1{
    margin: 5px;
  }

 
  
  /* Estilos para pantallas pequeñas (responsive) */
  @media (max-width: 768px) {
    .modalbox {
      width: 90%;
    }
  }



